<% @stations.each do |station| %>
  <div class='station'>
    <div class='name'>
    </div>
    <div class='address'>
    </div>
    <div class='fuel_types'>
    </div>
    <div class='distance'>
    </div>
    <div class='access_times'>
    </div>
  </div>
<% end %>
