---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=C4jwhpTWmqYSKzLj5V6WvlPUsoPrWwFptOCknaIA&format=JSON&limit=10&location=80220&radius=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '903'
      Last-Modified:
      - Wed, 16 May 2018 16:43:13 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.733854,"longitude":-104.916649,"precision":{"value":5,"name":"postal_code","types":["postal_code"]},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":98,"station_counts":{"total":263,"fuels":{"BD":{"total":1},"E85":{"total":3},"ELEC":{"total":250,"stations":{"total":85}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":4},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2018-05-16","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":96862,"open_date":null,"owner_type_code":null,"status_code":"E","station_name":"9&CO","station_phone":"888-758-4389","updated_at":"2018-05-16T08:51:19Z","geocode_status":"GPS","latitude":39.732598,"longitude":-104.9397685,"city":"Denver","intersection_directions":"2ND
        FL #1; Level 2 ","plus4":null,"state":"CO","street_address":"4040-4110 E 11th
        Ave","zip":"80220","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_is_retail":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:422761"]},"distance":1.23456,"distance_km":1.98683},{"access_code":"public","access_days_time":"7am-7pm
        M-Th and Sat, 7am-8pm F, 9am-5pm Sun","access_detail_code":null,"cards_accepted":"A
        Cash D M V","date_last_confirmed":"2017-11-02","expected_date":null,"fuel_type_code":"LPG","groups_with_access_code":"Public","id":20344,"open_date":null,"owner_type_code":"P","status_code":"E","station_name":"U-Haul","station_phone":"303-399-7010","updated_at":"2018-03-06T00:28:28Z","geocode_status":"200-9","latitude":39.739738,"longitu[...]
[...]
